body {
  height: 100%;
  background-color: #080808;
  margin: 0px;
  padding: 0px;
  /* font-family: "Creepster", cursive; */
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link{
  font-family: "Creepster", cursive; 
}
.logo {
  object-fit: cover;
  width: 300px;
  height: 100px;
}

.image {
  object-fit: cover;
  width: 550px;
  height: 490px;
}
.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #021519;
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
}
.subtitle {
  color: #fff;
  font-size: 40px;
  -webkit-text-stroke: 0.1px #f6f43d;
  font-family: "Creepster", cursive;
}

.btn-go-back {
  width: 200px;
  height: 30px;
  border-radius: 6px;
  background-color: #021519;
  border-color: #f6f43d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn-text {
  font-size: 17px;
  color: white;
  font-family: "Creepster", cursive;
  transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
}

.btn-go-back:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 6px #f6f43d;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}
